{% extends "index.html.twig" %}
{% block contenido %}
	<p>
		La Iglesia Cristiana Internacional Argentina (ICIA), lleva asi 20 años, trabajando en la ciudad de La Plata. Los territorios cubiertos por el trabajo social e cuesti&oacute;n son casi todos los ue conforman la ciudad y alrededores.
	</p>

	<p>
		Es de mucho inter&eacute;s llegar a todos los hogares con un mensaje de paz, amor y esperanza. Creemos en la restauraci&oacute;n de familias, las segundas oportunidades, la recuperaci&oacute;n de los sue&ntilde;os y la fortaleza en momentos dif&iacute;ciles.
	</p>

	<p>
		<strong>
			"Dios amó tanto a la gente de este mundo, que me entregó a mí, que soy su único Hijo, para que todo el que crea en mí no muera, sino que tenga vida eterna."
		</strong>
	</p>
	<p>
		Juan 3:16 (Traducci&oacute;n Lenguaje Actual)
	</p>
{% endblock %}