{% extends "index.html.twig" %}
{% block contenido %}
	<h3>Invasi&oacute;n del Amor de Dios</h3>
	<div class="entry">
		<p>
			<em id="__mceDel">
				<img src="IMG/invasionMini.png" class="img-rounded" alt="invasi&ocute;n Logo" >
				<br>
				Es un movimiento cristiano de oración sobrenatural que está bendiciendo a millones de personas en varios países del mundo.
			</em>
		</p>
		<p>
			Cada año, miles y miles de cristianos unidos en una cadena gigante de oración, dedican generosamente horas de su tiempo para levantar una plegaria poderosa y eficaz a Dios. Es impresionante la avalancha de respuestas sobrenaturales y milagros que reciben aquellos que presentaron sus peticiones!
		</p>
		<p>
			Háganos llegar su petición y con mucho gusto la presentaremos el gran día de oración! (24 hs. seguidas de clamor) Es totalmente gratuito y no representa ningún compromiso de su parte.
		</p>
		<p>
			En la mayoría de las ciudades, también se realiza un evento grande de milagros al que, si usted quiere, puede asistir igualmente sin costo y sin compromiso.
		</p>
	</div>
{% endblock %}