{% extends "backend.html.twig" %}
{% block titulo %}
<div id="cabecera">
	<h3>Opciones de Configuraci&oacuten</h3>
</div>
{% endblock %}
{% block contenido %}
	Pantalla principal de Administrai&oacuten ICIA - Tu Hogar de Paz. Por favor seleccione una opcion del menu.
{% endblock %}