{% extends "backend.html.twig" %}
{% block contenido %}
	<p>Pantalla principal de Administraci&oacuten <strong>ICIA - Tu Hogar de Paz</strong></p>
	<p>Por favor seleccione una opcion del menu.</p>
{% endblock %}