{% extends "backend.html.twig" %}
{% block titulo %}
<div id="cabecera">
	<h3>Pantalla Principal</h3>
</div>
{% endblock %}
{% block contenido %}
	<p>Pantalla principal de Administraci&oacuten <strong>ICIA - Tu Hogar de Paz</strong></p>
	<p>Por favor seleccione una opcion del menu.</p>
{% endblock %}