<!DOCTYPE html>
<html>
<head>
	<meta name="author" content="grupo 31">
	<meta charset="utf-8">
	<title>​ Backend </title>	
	<link rel="stylesheet" type="text/css" href="CSS/styleIndex.css">
	<link rel="stylesheet" type="text/css" href="CSS/styleAdicional.css">
	<link rel="stylesheet" type="text/css" href="CSS/styleIndex.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<!--DESDE RESOURCECONTROLLER.PHP->BACKEND(), SE RECIBE, RECURSOS, QUE TIENE: $recursos = array('configuracion','datosSeccion','menu', 'username');-->
	<div id="login">Bienvenido, {{ recursos.username }} <a href="logout.php">Cerrar Sesion</a> </div>
	<div id="dTitle">
		<div id="dTitleC1">
			<h3></h3>
		</div>
	</div>	
	<div id="contenido">
		<div id="columnaIzq">
			<div id="contenedorMenu">	
				<ul id="menu">					
				{% for item in recursos.menu %}
		            <li><a href="backend.php?seccion={{ item.accion }}">{{ item.descripcion }}</a></li>
		        {% endfor %}
				</ul>
		</div>	
		</div>
		<div id="columnaCentro">
			{% block titulo %}{% endblock %}
			<div id="fLoginSubmit">
		 		{% block contenido %}{% endblock %}
		 	</div>
		</div>
	</div>
	<div id="pie">
		<footer>
			<p>ICIA - Tu Hogar de Paz</p>
	  		<p><a href="mailto:{{ recursos.configuracion.email }}">Contactar</a>.</p>
		</footer>
	</div>
</body>
</html>