<!DOCTYPE html>
<html>
<head>
	<meta name="author" content="grupo 31">
	<meta charset="utf-8">
	<title>​{{ recursos.titulo }}</title>	
	<link rel="stylesheet" type="text/css" href="CSS/styleIndex.css">
</head>
<body>
	<div id="login">Ud. no esta identificado. <a href="login.php">Entrar</a></div>
	<header>
		<h1>{{ recursos.titulo }}</h1>
		<figure>
			<img id="imgT" alt="Foto Pastores" longdesc="Foto%20de%20los%20pastores%20de%20la%20iglesia" src="IMG/pastores.jpg">
		</figure>
	</header>

	<div id="contenido">
		<div id="columnaIzq">
			<div id="contenedorMenu">
				<ul id= "menu">
					<li><a class="aNav" href="index.php">Inicio</a></li>
					<li><a class="aNav" href="index.php?seccion=Historia">Acerca de Nosotros</a></li>
					<li><a class="aNav" href="index.php?seccion=Museo">Iglesia</a></li>
					<li><a class="aNav" href="index.php?seccion=InfDocente">Informacion</a></li>
					<li><a class="aNav" href="index.php?seccion=Contacto">Contacto</a></li>
				</ul>
			</div>
		</div>
		<div id="columnaCentro">
	 		<div id="contenidoMain">{% block contenido %}{% endblock %}
			</div>
		</div>
	</div>
	<footer>	
		<p>ICIA - Tu Hogar de Paz</p>
  		<p><a href="mailto:{{ recursos.email }}">Contactar</a>.</p>
	</footer>
</body>
</html>