<!DOCTYPE html>
<html>
    <head>
        <title>Miembros</title>
    </head>
    <body>
        <h1>Miembros</h1>
        <ul>
            <li> {{ resources.numeroDocumento }} - {{ resources.nombre }} - {{ resources.apellido }} </li>
        </ul>
    </body>
</html>